Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city.name %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<br>

Category: <%= @job.category.title %>
<br>

<%= link_to "Update Job", edit_company_job_path(@job.company, @job) %>
<br>
<h5>Comments</h5>
<%= render partial: 'comments/form' %>
<%= render partial: 'companies/comment', collection: @job.comments.reverse %>
<br>
<%= link_to "Delete Job", company_job_path(@job.company, @job), method: "delete" %>